{% extends 'PimEnrichBundle::layout.html.twig' %}
{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}

{% block content %}
    {% if jobInstance.jobName == 'shopware_product_export' %}
        {% block javascript %}
            <script>
                $(document).ready(function(){
                    $(".btn-submit").click(function(){
                        var attrInput = [];

                        $('.shopware-connector-input').each(function() {
                            var attrName = $(this).data("name");
                            var attrValue = $(this).val();
                            attrInput.push(attrName+":"+attrValue);
                        });
                        attrInput = attrInput.join(';');

                        $("#pim_import_export_jobInstance_parameters_attr").val(attrInput);
                    });

                    {% block javascripts %}
                    var text = '';
                    {% for attribute in attributes %}
                        var attrName = "{{ attribute|split(';')[0] }}";
                        var attrLabel = "{{ attribute|split(';')[1] }}";
                        {% if attribute|split(';')[2] is defined %}
                            var value = "{{ attribute|split(';')[2] }}";
                        {% else %}
                            var value = "";
                        {% endif %}
                        text = text +
                                '<div class="control-group">'+
                                    '<label class="control-label" for="'+attrName+'">'+attrLabel+'</label>'+
                                    '<div class="controls">'+
                                        '<input type="text" id="shopware-connector-'+attrName+'" class="input-large shopware-connector-input" data-name="'+attrName+'" value="'+value+'"/>'+
                                        '<div class="icons-container">'+
                                            '<i class="icon-info-sign" data-toggle="tooltip" data-placement="right" data-original-title="Enter the code of the Akeneo attribute"></i>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>';
                    {% endfor %}
                    {% endblock %}

                    $('#pim_import_export-job_profile-tab-property').append(
                        '<div class="tabsections">' +
                            '<div class="tabsection">' +
                                '<div class="tabsection-title">Zusätzliche Attribute</div>' +
                                    '<div class="tabsection-content">' +
                                        text +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</div>'
                    );
                });
            </script>
        {% endblock %}
    {% endif %}
    {{ form_start(form, {
        'action': actionRoute,
        'attr': {
            'data-updated-title': 'confirmation.leave'|trans,
            'data-updated-message': 'confirmation.discard changes'|trans({ '%entity%': (entityName ~ '.title')|trans })
        }
    }) }}

    {% include 'PimImportExportBundle:JobProfile:_edit_headers.html.twig' with {'form': form} %}

    {% include 'PimImportExportBundle:JobProfile:_form.html.twig' %}
    {{ form_end(form) }}
{% endblock %}