{% extends 'PimEnrichBundle::layout.html.twig' %}
{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}

{% block content %}
    {% if jobInstance.jobName == 'shopware_product_export' %}
        {% block javascript %}
            <script>
                $(document).ready(function(){
                    $(".btn-submit").click(function(){
                        var attrInput = [];

                        $('.shopware-connector-input').each(function() {
                            var attrName = $(this).data("name");
                            var attrValue = $(this).val();
                            attrInput.push(attrName+":"+attrValue);
                        });
                        attrInput = attrInput.join(';');

                        $("#pim_import_export_jobInstance_parameters_attr").val(attrInput);
                    });

                    {% block javascripts %}
                    var text = '';
                    {% for attribute in attributes %}
                        var attrName = "{{ attribute|split(';')[0] }}";
                        var attrLabel = "{{ attribute|split(';')[1] }}";
                        {% if attribute|split(';')[2] is defined %}
                            var value = "{{ attribute|split(';')[2] }}";
                        {% else %}
                            var value = "";
                        {% endif %}
                        text = text +
                                '<div class="control-group">'+
                                    '<label class="control-label" for="'+attrName+'">'+attrLabel+'</label>'+
                                    '<div class="controls">'+
                                        '<input type="text" id="shopware-connector-'+attrName+'" class="input-large shopware-connector-input" data-name="'+attrName+'" value="'+value+'"/>'+
                                        '<div class="icons-container">'+
                                            '<i class="icon-info-sign" data-toggle="tooltip" data-placement="right" data-original-title="Enter the code of the Akeneo attribute"></i>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>';
                    {% endfor %}
                    {% endblock %}

                    $('#pim_import_export-job_profile-tab-property').append(
                        '<div class="tabsections">' +
                            '<div class="tabsection">' +
                                '<div class="tabsection-title">Zusätzliche Attribute</div>' +
                                    '<div class="tabsection-content">' +
                                        text +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</div>'
                    );
                });
            </script>
        {% endblock %}
    {% endif %}
    {{ form_start(form, {
        'action': actionRoute,
        'attr': {
            'data-updated-title': 'confirmation.leave'|trans,
            'data-updated-message': 'confirmation.discard changes'|trans({ '%entity%': (entityName ~ '.title')|trans })
        }
    }) }}

    {% include 'PimImportExportBundle:JobProfile:_edit_headers.html.twig' with {'form': form} %}

    {% include 'PimImportExportBundle:JobProfile:_form.html.twig' %}

    {#<div class="row-fluid tab-content">#}
        {#<div class="tab-pane active" id="general-properties">#}

            {#{% set properties %}#}
                {#{{ form_row(form.code) }}#}
                {#{{ form_row(form.label) }}#}
            {#{% endset %}#}
            {#{{ elements.accordion({ 'pane.accordion.properties': properties }, 1) }}#}
            {#{% set globalSettings %}#}
                {#{% for step in form.job.steps %}#}
                    {#{% for child in step.children %}#}
                        {#{% if jobInstance.alias == 'shopware_products_export' and child.children.attr is defined %}#}
                            {#{% for childChild in child.children %}#}
                                {#{% if childChild.vars.name == "attr" %}#}
                                    {#{{ form_row(childChild) }}#}
                                    {#<div id="article-attributes"></div>#}
                                    {#{% block javascripts %}#}
                                    {#<script>#}
                                        {#var values = "{{ childChild.vars.value }}";#}
                                        {#values = values.split(';');#}
                                        {#var attributeIterator = 0;#}
                                        {#{% for attribute in attributes %}#}
                                        {#if(typeof values[attributeIterator] !== 'undefined') {#}
                                            {#var value = values[attributeIterator].split(':');#}
                                            {#var attrName = "{{ attribute[0] }}".split(';')[0];#}
                                            {#var attrLabel = "{{ attribute[0] }}".split(';')[1];#}
                                            {#if (typeof value[1] == 'undefined') {#}
                                                {#value[1] = "";#}
                                            {#}#}
                                            {#var text = '<div class="control-group">'+#}
                                                    {#'<label class="control-label" for="'+attrName+'">'+attrLabel+'</label>'+#}
                                                    {#'<div class="controls">'+#}
                                                    {#'<input type="text" id="'+attrName+'" class="input-large" value="'+value[1]+'"/>'+#}
                                                    {#'<div class="icons-container">'+#}
                                                    {#'<i class="icon-info-sign" data-toggle="tooltip" data-placement="right" data-original-title="Enter the code of the Akeneo attribute"></i>'+#}
                                                    {#'</div>'+#}
                                                    {#'</div>'+#}
                                                    {#'</div>';#}
                                            {#$('#article-attributes').append(text);#}
                                            {#attributeIterator++;#}
                                        {#} else {#}
                                            {#var attrName = "{{ attribute[0] }}".split(';')[0];#}
                                            {#var attrLabel = "{{ attribute[0] }}".split(';')[1];#}
                                            {#var text = '<div class="control-group">'+#}
                                                    {#'<label class="control-label" for="'+attrName+'">'+attrLabel+'</label>'+#}
                                                    {#'<div class="controls">'+#}
                                                    {#'<input type="text" id="'+attrName+'" class="input-large"/>'+#}
                                                    {#'<div class="icons-container">'+#}
                                                    {#'<i class="icon-info-sign" data-toggle="tooltip" data-placement="right" data-original-title="Enter the code of the Akeneo attribute"></i>'+#}
                                                    {#'</div>'+#}
                                                    {#'</div>'+#}
                                                    {#'</div>';#}
                                            {#$('#article-attributes').append(text);#}
                                            {#attributeIterator++;#}
                                        {#}#}
                                        {#{% endfor %}#}
                                    {#</script>#}
                                    {#{% endblock %}#}

                                {#{% else %}#}
                                    {#{{ form_row(childChild) }}#}
                                {#{% endif %}#}
                            {#{% endfor %}#}
                        {#{% else %}#}
                            {#{{ form_widget(child) }}#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                {#{% endfor %}#}
            {#{% endset %}#}
            {#{{ elements.accordion({ 'pane.accordion.global_settings': globalSettings }, 2) }}#}
        {#</div>#}

        {#{% if resource_granted('pim_importexport_' ~ form.vars.value.type ~ '_profile_history') %}#}
            {#<div class="tab-pane" id="history">#}
                {#{{ dataGrid.renderHistoryGrid(form.vars.value) }}#}
            {#</div>#}
        {#{% endif %}#}
    {#</div>#}

    {{ form_end(form) }}
{% endblock %}